services:
  backend: 
    build: ./backend
    container_name: backend-api
    ports: 
      - "5050:5050"
    depends_on: 
      - postgres
    restart: always

  postgres:
    image: postgres:15
    container_name: postgres_db
    environment: 
      POSTGRES_USER: dba
      POSTGRES_PASSWORD: dba123
      POSTGRES_DB: appdb
    ports: 
      - "5432:5432"
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend-web
    ports:
      - "3000:80"
    restart: always
