services:
  backend: 
    build: ./backend
    container_name: backend-api
    ports: 
      - "5050:5050"
    depends_on: 
      - postgres
    restart: always

  postgres:
    image: postgres:15
    container_name: postgres_db
    environment: 
      POSTGRES_USER: dba
      POSTGRES_PASSWORD: dba123
      POSTGRES_DB: appdb
    ports: 
      - "5432:5432"
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend-web
    ports:
      - "3000:80"
    restart: always

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    restart: always
    ports:
      - "9100:9100"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    ports:
      - "3001:3000"
